__pycache__/
.idea/
暑假作业/
build/
dist/
试卷排版工具/
*.spec
f.txt
fix*.py
test*
check*
7月27日优化.txt
check_hover.py
排版预设.json
.git_perms.txt
1.docx
07月28日*.docx
带日期测试.json
试卷排版工具V2.5_*.json
.git_locked/
